{% extends "::layout.html.twig" %}

{% block title %}
    DB - {{ parent() }}
{% endblock %}

{% block body %}

        {{ parent() }}

        <div class="row-fluid">
            {#<div id="menu" class="col-md-2">
                <h3>Menu</h3>
                <ul class="nav nav-pills nav-stacked">
                    <li><a href="{{ path('manja_sourcing_homepage') }}">Home</a></li>
                    <hr/>
                    <li><a href="{{ path('manja_sourcing_prices') }}">Prices</a></li>
                    <li><a href="{{ path('manja_sourcing_list', { 'data': "supplier" }) }}">Suppliers</a></li>
                    <hr/>
                    <li><a href="{{ path('manja_sourcing_list', { 'data': "metal" }) }}">Metal</a></li>
                    <li><a href="{{ path('manja_sourcing_list', { 'data': "stone" }) }}">Stones</a></li>
                    <li><a href="{{ path('manja_sourcing_list', { 'data': "diamond" }) }}">Diamonds</a></li>
                    <li><a href="{{ path('manja_sourcing_list', { 'data': "pearl" }) }}">Pearls</a></li>
                    <li><a href="{{ path('manja_sourcing_list', { 'data': "finding" }) }}">Findings</a></li>
                    <li><a href="{{ path('manja_sourcing_list', { 'data': "chain" }) }}">Chains</a></li>
                    <li><a href="{{ path('manja_sourcing_list', { 'data': "accessorie_length" }) }}">Accessories (length)</a></li>
                    <li><a href="{{ path('manja_sourcing_list', { 'data': "accessorie_piece" }) }}">Accessories (piece)</a></li>
                </ul>        
            </div>#}
            
            <div id="content" class="col-md-12">
                {% block content %}
                {% endblock %}
                
                {% block form_content %}
                {% endblock %}
            </div>
        </div>
        
        <hr>
{% endblock %}
