{% extends "ManjaSourcingBundle::layout.html.twig" %}

{% block title %}
    Contacts - {{ parent() }}
{% endblock %}

{% block content %}
    <a href="{{ path('manja_sourcing_add', { 'data': "contact" }) }}" class="btn btn-primary" role="button">Add a contact</a>

    <hr/>

    {% include "ManjaSourcingBundle:Sourcing:sourcing_list.html.twig" %}

    <table id="table1" class="table table-bordered table-striped table-condensed display">
    <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            {#<th>Company</th>#}
        </tr>
    </thead>
    <tbody>
    {% for item in items %} 
        <tr>
           <td>
            <div class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> {{ item.getIdContact() }} <col-md- class="caret"></col-md-> </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Edit</a></li>
                    <li><a href="{{ path('manja_sourcing_remove', { 'category': "contact", 'id': item.getIdContact() }) }}">Delete</a></li>
                </ul>
            </div>
            </td>
            <td>
            <div class="modal fade" id="infos">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header"> 
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h3 class="modal-title">Details</h3>
                        </div>
                        <div class="modal-body">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            <a data-toggle="modal" href="{{ path('manja_sourcing_item_sheet', { 'category': "contact", 'id': item.getIdcontact() }) }}" data-target="#infos">{{ item.getTitle() }} {{ item.getFirstName() }} {{ item.getLastName() }}</a>
            </td>
            {#<td>{{ item.getCompany().getCompany() }}</td>#}
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}
