{% extends "ManjaSourcingBundle::layout.html.twig" %}

{% block title %}
     Diamonds - {{ parent() }}
{% endblock %}

{% block content %}
    <a href="{{ path('manja_sourcing_add', { 'data': "diamond" }) }}" class="btn btn-primary" role="button">Add diamond</a>

    <hr/>

    {% include "ManjaSourcingBundle:Sourcing:sourcing_list.html.twig" %}

    <table id="table1" class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>id</th>
            <th>Type</th>
            <th>Shape</th>
            <th>Cut</th>
            <th>Color</th>
            <th>Clarity</th>
            <th>Sizes</th>
            <th>Weight /piece</th>
            <th>Price /carat</th>            
            <th>Price /piece</th>            
            <th>Supplier</th>            
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>
            <div class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> {{ item.getIdSrcDiams() }} <col-md- class="caret"></col-md-> </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Edit</a></li>
                    <li><a href="{{ path('manja_sourcing_remove', { 'category': "diamond", 'id': item.getIdSrcDiams() }) }}">Delete</a></li>
                </ul>
            </div>
            </td>
            <td>{{ item.getType() }}</td>
            <td>{{ item.getShape() }}</td>
            <td>{{ item.getCut() }}</td>
            <td>{{ item.getColor() }}</td>
            <td>{{ item.getClarity() }}</td>
            <td>{{ item.getSize1() }} {{ item.getSize2() }}</td>
            <td>{{ item.getWeightPiece() }}</td>
            <td>{{ item.getPriceCt().getPrice() }}</td>
            <td>{{ item.getPricePiece().getPrice() }}</td>
            <td>
            <div class="modal hide fade" id="infos">
                <div class="modal-header"> <a class="close" data-dismiss="modal">×</a>
                    <h3>Details</h3>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer"> <a class="btn btn-info" data-dismiss="modal">Close</a> </div>
            </div>
            <a data-toggle="modal" href="{{ path('manja_sourcing_item_sheet', { 'category': "supplier", 'id': item.getFurnisher().getIdsupplier() }) }}" data-target="#infos">{{ item.getFurnisher().getCompany() }}</a>
            </td>

        </tr>
    {% endfor %}
    </tbody> 
    </table>
 {% endblock %}
