{% extends "ManjaSourcingBundle::layout.html.twig" %}

{% block title %}
     Diamonds - {{ parent() }}
{% endblock %}

{% block content %}
    <a href="{{ path('manja_sourcing_add_diamond') }}" class="btn">Add diamond</a>

    <hr/>

    {% include "ManjaSourcingBundle:Sourcing:sourcing_list.html.twig" %}

    <table id="table1" class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>id</th>
            <th>Type</th>
            <th>Shape</th>
            <th>Cut</th>
            <th>Color</th>
            <th>Clarity</th>
            <th>Sizes</th>
            <th>Weight /piece</th>
            <th>Price /carat</th>            
            <th>Price /piece</th>            
            <th>Supplier</th>            
        </tr>
    </thead>
    <tbody>
    {% for diamond in diamonds %}
        <tr>
            <td>{{ diamond.getIdSrcDiams() }}</td>
            <td>{{ diamond.getType() }}</td>
            <td>{{ diamond.getShape() }}</td>
            <td>{{ diamond.getCut() }}</td>
            <td>{{ diamond.getClarity() }}</td>
            <td>{{ diamond.getSize1() }} {{ diamond.getSize2() }}</td>
            <td>{{ diamond.getWeightPiece() }}</td>
            <td>{{ diamond.getPriceCt().getPrice() }}</td>
            <td>{{ diamond.getPricePiece().getPrice() }}</td>
            <td>{{ diamond.getFurnisher().getContact().getCompany() }}</td>
        </tr>
    {% endfor %}
    </tbody> 
    </table>
 {% endblock %}
