{% extends "ManjaSourcingBundle::layout.html.twig" %}

{% block title %}
    Findings - {{ parent() }}
{% endblock %}

{% block content %}
    <a href="{{ path('manja_sourcing_add', { 'data': "finding" }) }}" class="btn btn-primary" role="button">Add finding</a>

    <hr/>

    {% include "ManjaSourcingBundle:Sourcing:sourcing_list.html.twig" %}

    <table id="table1" class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>id</th>
            <th>Name</th>
            <th>Base Metal</th>
            <th>Finish</th>
            <th>Shape</th>
            <th>Sizes</th>
            <th>Weight</th>
            <th>Price /gram</th>            
            <th>Price /piece</th>            
            <th>Supplier</th>            
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>
            <div class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> {{ item.getIdSrcFinding() }} <span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Edit</a></li>
                    <li><a href="{{ path('manja_sourcing_remove', { 'category': "finding", 'id': item.getIdSrcFinding() }) }}">Delete</a></li>
                </ul>
            </div>
            </td>
            <td>
                <a data-toggle="modal" href="#" data-target="#infos">{{ item.getFindingName().getName() }}</a>
                <div class="modal fade" id="infos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                          <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <h4 class="modal-title" id="myModalLabel">{{ item.getFindingName().getName() }}</h4>
                          </div>
                          <div class="modal-body">
                            <div class="row">
                                <div class="col-md-8">
                                    <table class="table table-bordered table-condensed table-stripped">
                                    <tr>
                                        <td>ID </td>          
                                        <td>{{ item.getIdSrcFinding() }}</td> 
                                    </tr>
                                    <tr>
                                        <td>Base metal</td> 
                                        <td>{{ item.getBaseMetal() }}</td>
                                    </tr>
                                    <tr>
                                        <td>Finish</td>
                                        <td>{{ item.getFinish() }}</td>
                                    </tr>
                                    <tr>
                                        <td>Shape</td>
                                        <td>{{ item.getShape() }}</td>
                                    </tr>
                                    <tr>
                                        <td>Sizes</td>
                                        <td>{{ item.getSize1() }} {{ item.getSize2() }} {{ item.getSize3() }} {{ item.getSizeSection() }}</td>
                                    </tr>
                                    <tr>
                                        <td>Weight</td>
                                        <td>{{ item.getWeightPiece() }}</td>
                                    </tr>
                                    <tr>
                                        <td>Price /piece</td>
                                        <td>{{ item.getPricePiece().getPrice() }}</td>
                                    </tr>
                                    <tr>
                                        <td>Price /gram</td>
                                        <td>{{ item.getPriceGram().getPrice() }}</td>
                                    </tr>
                                    </table>
                                </div>
                                <div class="col-md-4 well well-sm">
                                    <img src="{{ asset('bundles/manjasourcing/images/hyene-1257455213.jpg') }}" class="img-responsive" alt="Contact Photo" />
                                </div>
                            </div>
                          </div>
                          <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                          </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->   
                </div>
            </td>
            <td>{{ item.getBaseMetal() }}</td>
            <td>{{ item.getFinish() }}</td>
            <td>{{ item.getShape() }}</td>
            <td>{{ item.getSize1() }} {{ item.getSize2() }} {{ item.getSize3() }} {{ item.getSizeSection() }}</td>
            <td>{{ item.getWeightPiece() }}</td>
            <td>{{ item.getPriceGram().getPrice() }}</td>
            <td>{{ item.getPricePiece().getPrice() }}</td>
            <td>
                <a data-toggle="modal" href="{{ path('manja_sourcing_item_sheet', { 'category': "supplier", 'id': item.getFurnisher().getIdsupplier() }) }}" data-target="#infos">{{ item.getFurnisher().getCompany() }}</a>
                <!-- Modal -->
                <div class="modal fade" id="infos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Supplier details</h4>
                      </div>
                      <div class="modal-body">
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div><!-- /.modal-content -->
                  </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->               
            </td>
        </tr>
    {% endfor %}
    </tbody> 
    </table>
 {% endblock %}
