  {% extends "ManjaSourcingBundle::layout.html.twig" %}

{% block title %}
    Metals - {{ parent() }}
{% endblock %}

{% block content %}
    <a href="{{ path('manja_sourcing_add', { 'data': "metal" }) }}" class="btn btn-primary" role="button">Add metal</a>

    <hr/>

    {% include "ManjaSourcingBundle:Sourcing:sourcing_list.html.twig" %}

    <table id="table1" class="table table-bordered table-striped table-condensed">
    <thead>
        <tr>
            <th>id</th>
            <th>Stock Id</th>
            <th>Metal</th>
            <th>Color</th>
            <th>Purity %</th>
            <th>Volumic Mass</th>            
            <th>Price /gram</th>            
            <th>Supplier</th>            
        </tr>
    </thead>
    <tbody>
    {% for item in items %}
        <tr>
            <td>
            <div class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> {{ item.getIdSrcMetal() }} <span class="caret"></span> </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Edit</a></li>
                    <li><a href="{{ path('manja_sourcing_remove', { 'category': "metal", 'id': item.getIdSrcMetal() }) }}">Delete</a></li>
                </ul>
            </div>
            </td>
            <td>{{ item.getItemId().getId() }}</td>
            <td>
            <div class="modal fade" id="infos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">{{ item.getIdSrcMetal() }}</h4>
                  </div>
                  <div class="modal-body">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->    
            <a data-toggle="modal" href="{{ path('manja_sourcing_item_sheet', { 'category': "metal", 'id': item.getIdSrcMetal() }) }}" data-target="#infos">{{ item.getMetal() }}</a>
            </td>
            <td>{{ item.getMetalColor() }}</td>
            <td>{{ item.getPurityPercent() }}</td>
            <td>{{ item.getVolumicMass() }}</td>
            <td>{{ item.getPriceGram().getPrice() }}</td>
            <td>
            <a data-toggle="modal" href="{{ path('manja_sourcing_item_sheet', { 'category': "supplier", 'id': item.getFurnisher().getIdsupplier() }) }}" data-target="#infos">{{ item.getFurnisher().getCompany() }}</a>
            <div class="modal fade" id="infos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Supplier details</h4>
                  </div>
                  <div class="modal-body">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->    
            </div>
            </td>
        </tr>
    {% endfor %}
    </tbody> 
    </table>
 {% endblock %}
