{% extends "ManjaSourcingBundle::layout.html.twig" %}

{% block title %}
    Suppliers - {{ parent() }}
{% endblock %}

{% block content %}
    <a href="{{ path('manja_sourcing_add', { 'data': "supplier" }) }}" class="btn btn-primary" role="button">Add a supplier</a>

    <hr/>

    {% include "ManjaSourcingBundle:Sourcing:sourcing_list.html.twig" %}

    <table id="table1" class="table table-bordered table-striped table-condensed display">
    <thead>
        <tr>
            <th>id</th>
            <th>Company</th>
            <th>Rank</th>
            {#<th>Contacts</th>#}
            <th>Product Category</th>            
            <th>Supplies</th>            
        </tr>
    </thead>
    <tbody>
    {% for item in items %} 
        <tr>
            <td>
            <div class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown" href="#"> {{ item.getIdSupplier() }} <col-md- class="caret"></col-md-> </a>
                <ul class="dropdown-menu">
                    <li><a href="#">Edit</a></li>
                    <li><a href="{{ path('manja_sourcing_remove', { 'category': "supplier", 'id': item.getIdSupplier() }) }}">Delete</a></li>
                </ul>
            </div>
            </td>
            <td>
            <a data-toggle="modal" href="{{ path('manja_sourcing_item_sheet', { 'category': "supplier", 'id': item.getIdsupplier() }) }}" data-target="#infos">{{ item.getCompany() }}</a>
            <div class="modal fade" id="infos" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title" id="myModalLabel">Supplier details</h4>
                  </div>
                  <div class="modal-body">
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div><!-- /.modal-content -->
              </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->    
            </td>
            <td>{{ item.getRank().getRank() }}</td>
            {#<td><a href="{{ path('manja_sourcing_item_sheet', { 'category': "contact", 'id': item.getContact.getIdcontact() }) }}">{{ item.getContact().getTitle() }} {{ item.getContact().getFirstName() }} {{ item.getContact().getLastName() }}</a></td>#}
            <td>{{ item.getProductCategory() }}</td>
            <td>
                {% if item.getSuppliesDiamond() == 1 %} Diamonds<br/> {% endif %}                
                {% if item.getSuppliesStones() == 1 %} Stones<br/> {% endif %}                
                {% if item.getSuppliesPearls() == 1 %} Pearls<br/> {% endif %}                
                {% if item.getSuppliesMetal() == 1 %} Metal<br/> {% endif %}
                {% if item.getSuppliesChains() == 1 %} Chains<br/> {% endif %}
                {% if item.getSuppliesAccLength() == 1 %} Accessories/Length<br/> {% endif %}
                {% if item.getSuppliesAccPiece() == 1 %} Accessories/Piece<br/> {% endif %}
                {% if item.getSuppliesFindings() == 1 %} Findings<br/> {% endif %}
                {% if item.getSuppliesTask() == 1 %} Tasks<br/> {% endif %}
            </td>
        </tr>
    {% endfor %}
    </tbody>
    </table>

{% endblock %}
